.hidden {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

#login-form {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#login-form input {
  border-style: none;
  border-radius: 20px;
  border-color: rgb(84, 143, 227);
  border-style: dashed;
  font-size: 20px;
  background-color: aliceblue;
}

#login-form input:first-child {
  margin-right: 15px;
}

#login-form input:last-child {
  color: darkblue;
}

#login-form input::placeholder {
  opacity: 0.5;
  color: darkblue;
}

h1 {
  text-align: center;
  opacity: 0.5;
  color: rgb(125, 180, 234);
}

img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  object-fit: cover;
  transform: translateZ(0);
}

#clock {
  text-align: center;
  text-decoration: underline;
  color: rgb(125, 180, 234);
}

#quote {
  text-align: center;
}
